= render 'shared/header'
.mypage-wrapper
  .mypage-flash
  .mypage-main
    .mypage-main__container
      .mypage-main__data-box.profile
        .mypage-main__data-box__title 基本データ
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 身長 
          .mypage-main__data-box__content__right #{current_user.height}cm
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 体重
          .mypage-main__data-box__content__right #{current_user.weight}kg
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 年齢 
          .mypage-main__data-box__content__right #{current_user.age}歳
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 身体活動レベル
          .mypage-main__data-box__content__right #{current_user.pal}
      .mypage-main__data-box.kcal
        .mypage-main__data-box__title エネルギー（kcal）
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 1日の目安量
          .mypage-main__data-box__content__right #{current_user.day_kcal.to_s(:delimited)}kcal      
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 今日の摂取量
          .mypage-main__data-box__content__right kcal
      .mypage-main__data-box.protein
        .mypage-main__data-box__title タンパク質（g）
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 1日の推奨量
          .mypage-main__data-box__content__right #{current_user.day_protein}g
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 今日の摂取量
          .mypage-main__data-box__content__right g
    .mypage-main__container
      .mypage-main__data-box.fat
        .mypage-main__data-box__title 脂質（g）
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 1日の目安量
          .mypage-main__data-box__content__right #{current_user.day_fat}g
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 今日の摂取量
          .mypage-main__data-box__content__right g
      .mypage-main__data-box.carb
        .mypage-main__data-box__title 炭水化物（g）
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 1日の目安量
          .mypage-main__data-box__content__right #{current_user.day_carb}g
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 今日の摂取量
          .mypage-main__data-box__content__right g
      .mypage-main__data-box.salt
        .mypage-main__data-box__title 塩分（g）
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 1日の目安量
          .mypage-main__data-box__content__right #{current_user.day_salt}g
        .mypage-main__data-box__content
          .mypage-main__data-box__content__left 今日の摂取量
          .mypage-main__data-box__content__right g
  .mypage-footer