.info
  .row
    .col.date.text-left= Date.today.strftime("%Y年%t%m月%t%d日%t(%a)")
    .col.msg.text-center= flash[:notice]
    .col
.mypage-header
  %nav.navbar.navbar-expand
    .navbar-brand 
      = link_to root_path do
        コンメシ
    %ul.navbar-nav
      %li.nav-item
        =link_to items_path, class:"nav-link" do
          商品を探す
      %li.nav-item 
        =link_to list_path(current_list), class:"nav-link" do
          食事予定を見る
      %li.nav-item 
        =link_to records_path, class:"nav-link" do
          食事記録を見る
      %li.nav-item
        =link_to new_item_path, class:"nav-link" do
          商品を登録する
  .mypage-user.dropdown
    = current_user.name
    さん 
    =image_tag current_user.image.url || default_url, class:"dropdown-toggle", id:"dropdownMenu1", data: {toggle:"dropdown"}, aria: {haspopup:"true", expanded:"true"}
    %ul.dropdown-menu
      %li
        = link_to edit_user_path(current_user) do
          アカウント編集
      %li
        = link_to profile_edit_user_path(current_user) do
          プロフィール編集
      %li
        = link_to session_path(current_user), method: :delete, data: {confirm: "ログアウトします。よろしいですか？"} do
          ログアウト
.header-bottom
