.profile-wrapper
  .profile-container
    %h2.py-3.text-center 商品登録
    .profile-form.bg-white.my-5.mx-auto
      = form_for @item do |f|
        .profile-form__field
          .profile-form__field__label
            = f.label :name, "商品名"
          .profile-form__field__input
            = f.text_field :name
        .profile-form__field
          .profile-form__field__label
            = f.label :image, "商品画像（なくても構いません）"
          .profile-form__field__input
            = f.file_field :image
        .profile-form__field
          .profile-form__field__label
            = f.label :genre_id, "商品ジャンル"
          .profile-form__field__input
            = f.collection_select(:genre_id, Genre.all, :id, :name)
        .profile-form__field
          .profile-form__field__label
            = f.label :shop_id, "販売店"
          .profile-form__field__input
            = f.collection_check_boxes(:shop_ids, Shop.all, :id, :name)
        .profile-form__field
          .profile-form__field__label
            = f.label :price, "価格（税抜）"
          .profile-form__field__input
            = f.text_field :price, class:"form_right"
            円
        .profile-form__field
          .profile-form__field__label
            = f.label :kcal, "カロリー"
          .profile-form__field__input
            = f.text_field :kcal, class:"form_right"
            kcal
        .profile-form__field
          .profile-form__field__label
            = f.label :protein, "タンパク質"
          .profile-form__field__input
            = f.text_field :protein, class:"form_right"
            g
        .profile-form__field
          .profile-form__field__label
            = f.label :fat, "脂質"
          .profile-form__field__input
            = f.text_field :fat, class:"form_right"
            g
        .profile-form__field
          .profile-form__field__label
            = f.label :carb, "炭水化物"
          .profile-form__field__input
            = f.text_field :carb, class:"form_right"
            g
        .profile-form__field
          .profile-form__field__label
            = f.label :salt, "食塩相当量"
          .profile-form__field__input
            = f.text_field :salt, class:"form_right"
            g
        .profile-form__field
          .profile-form__field__label
            = f.label :note, "備考"
          .profile-form__field__input
            = f.text_area :note
        .profile-form__field
          = f.submit "登録する", class:"btn btn-primary btn-lg my-3"