= render 'shared/header'
.item-show-wrapper
  .item-show-container
    .container
      .row
        %h3.col.font-weight-bold #{@item.name} (#{@item.genre.name})
      .row
        .col.item-image
          = image_tag @item.image.url if @item.image.present?
      .row.pt-3
        .col.font-weight-bold 販売店
      .row.pb-3
        .col
          - @item.shops.each do |shop|
            .item_shops
              ="・#{shop.name}"
      .row.border
        .col.font-weight-bold 価格（税抜）
        .col.font-weight-bold カロリー
        .col.font-weight-bold タンパク質
        .col.font-weight-bold 脂質
        .col.font-weight-bold 炭水化物
        .col.font-weight-bold 塩分 
      .row.border
        .col #{@item.price}円
        .col #{@item.kcal.to_s(:delimited)}kcal
        .col #{@item.protein}g
        .col #{@item.fat}g
        .col #{@item.carb}g
        .col #{@item.salt}g
      .row.pt-3
        .col
          - if @item.note.present?
            = @item.note 
          - else
            = "この商品の備考はありません"
      .row.item-menu
        .col
          = link_to item_add_item_path(@item), method: :post, class: "btn btn-primary btn-lg" do
            食事予定に追加
        .col
          = link_to new_item_review_path(@item), class: "btn btn-warning text-white btn-lg" do
            レビューを投稿
        .col
          = link_to edit_item_path(@item), class: "btn btn-info btn-lg" do
            商品情報を編集
      -if @item.user_id == current_user.id 
        .row.item-menu
          .col
            = link_to item_path(@item), method: :delete, data: {confirm: "この商品を削除します。よろしいですか？"}, class: "btn btn-danger" do
              商品を削除
  .review-title
    %h5.font-weight-bold= "カスタマーレビュー(#{@reviews.length}件)"
  - @reviews.each do |review|
    .review-box
      .review-user
        %strong= "#{review.user.name}さん"
        ="｜性別:#{review.user.gender_kana},身長:#{review.user.height}cm,摂取カロリー目安:#{review.user.day_kcal}kcal"
      .review-rate= "美味しさ:#{review.taste_rate}  満腹感:#{review.volume_rate}"
      .review-comment= simple_format(review.comment)
      - if review.user == current_user
        .review-btn
          .review-btn__delete
            = link_to "/items/#{@item.id}/reviews/#{review.id}", method: :delete,  data: {confirm: "このレビューを削除します。よろしいですか？"}, class:"btn btn-danger" do
              削除
            .review-btn__edit
            = link_to "/items/#{@item.id}/reviews/#{review.id}/edit", class:"btn btn-info text-white" do
              編集